.example-form {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.example-full-width {
  width: 100%;
}
.mat-card {
  margin: auto;
  max-width: 400px;
  padding: 10px;
  text-align: center;
}

.textfield {
  padding: 5px;
}